body.index {
	margin: 0px;
	padding: 0px;
    background: #BAC6DB url("../images/Helix.png") no-repeat center top;
	font: normal 120% 'LatoLight', sans-serif;
	background-size: cover;
	color: white;
}
@font-face {       
  font-family: 'dosisextralight'; 
  src: url('../fonts/Dosis/static/Dosis-ExtraLight.ttf');
  font-weight: 100;
  font-style: normal;
} 
@font-face {       
	font-family: 'Bebas';
	src: url('../fonts/Bebas_Neue/BebasNeue-Regular.ttf');
	font-weight: 100;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-Light.ttf');
	font-weight: 100;
}
@font-face {
	font-family: 'OpenSansSemiBold';
	src: url('../fonts/Open_Sans/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-SemiBold.ttf');
	font-weight: 100;
}
@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf');
	font-weight: 100;
}
@font-face {       
	font-family: 'LatoLight'; 
	src: url('../fonts/Lato/Lato-Light.ttf');
	font-weight: 200;
}
@font-face {       
	font-family: 'LatoRegular'; 
	src: url('../fonts/Lato/Lato-Regular.ttf');
	font-weight: 400;
}
div.centered {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	margin: 0;
	padding: 20px;
	width: 100%;
	min-width: 100%;
	height: 100vh;
	min-height: 100vh;
	z-index: 0;
	text-align: left;
}

div#Header {
   display: block;
   width: 100%;
   box-sizing: border-box;
}

div#LogoDiv {
	height: auto;
	width: 50%;
	box-sizing: border-box;
	padding: 0;
    float: left;
}

img#Logo {
	width: 200px;
	height: auto;
	display: none;
}

div#LinkList {
    display: block;
    margin: 20px 0px;
    padding: 0;
    height: auto;
    width: 50%;
    box-sizing: border-box;
    float: left;
    text-align: right;
}

div#LinkList p1 {
    display: block;
    margin: 0;
    padding: 0;
    height: auto;
    width: 33%;
    box-sizing: border-box;
    float: right;
    text-align: center;
    font: 120% 'LatoRegular';
    opacity: 0.5;
    letter-spacing: 0,5em;
}

div#LinkList p2 {
    display: block;
    margin: 0;
    padding: 0;
    height: auto;
    width: 33%;
    box-sizing: border-box;
    float: right;
    text-align: right;
    font: 120% 'LatoRegular';
    opacity: 0.5;
    letter-spacing: 0,7em;
}

div#Title {
	position: relative;
	top: 20%;
	width: auto;
	height: auto;
	text-align: center;
}
div#Title h1#ComingSoon {
	width: 100%;
	font: 450% 'OpenSansBold', Sans-serif;
	line-height: 100%;
	color: white;
	text-transform: uppercase;
	margin: 20px 0px 20px 0px;
	text-align: center;
	display: block;
	float: left;
	font-stretch: semi-condensed;
}

div#Title h2 {
	font: 400% 'LatoLight', Sans-serif;
	color: white;
	margin: 20px;
	text-transform: uppercase;
}
span.green {
  color: rgba(48, 226, 86, 1.0);
}
span.blue {
  color: rgba(74, 147, 237, 1.0);
}
div#Slogan {
	box-sizing: border-box;
	position: relative;
	top: 100px;
	padding: 1rem;
	display: block;
	width: 100%;
	color: white;
	text-decoration: none;
	text-align: center;
  	font: 250% 'LatoLight', Sans-serif;
  	opacity: 0.8;
  	float: left;
}

div#LoadingDiv {
	height: auto;
	width: 100%;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
	position: relative;
	top: 100px;
}

img.load {
	width: 60%;
	height: auto;
	text-align: center;
}

a.textLink:hover {
	font-style: italic;
}
div#copyright {
	width: 100%;
	box-sizing: border-box;
	position: absolute;
	right: 20px;
	bottom: 0px;
	padding: 10px;
	color: rgba(36, 34, 39, 0.4);
	text-align: right;
	font: 'LatoThin', Verdana, sans-serif;
	font-style: italic;
}

.slider-container {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.slider-container #sliderVideo {
	position: absolute;
	width: auto;
	min-width: 100%;
	min-height: 100vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	filter: contrast(80%) brightness(80%);
	-webkit-filter: contrast(80%) brightness(80%); /* Safari 6.0 - 9.0 */
	background-color: black;
	background-size: cover;
}

img.logo {
  margin: 5px 10px;
  width: 150px;
}

@media (orientation: portrait) {
	body.index {
	    background-size: auto 100vh;
		font: normal 100% 'LatoLight', sans-serif;
	}
	.slider-container #sliderVideo {
		position: absolute;
		width: auto;
		height: 100vh;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		filter: contrast(80%) brightness(80%);
		-webkit-filter: contrast(80%) brightness(80%); /* Safari 6.0 - 9.0 */
		background-color: black;
		backgound-size: cover;
	}
}
@media (max-width: 600px) {
	body.index {
		font: normal 90% 'LatoLight', sans-serif;
	}
}